-@autor="My_name"
-@lang= "en"
-@title= "My_title"
-@description= "My_Description"
-@keywords="keyword1, keyword2, keywordn"


-@BootstrapV= "4.0.0-alpha.6"
-@TetherV="1.4.0"

-@FlexboxGridV="6.3.1"
-@jQueryV="3.1.1"
-@ModernizrV="2.8.3"

-menu =["section-1", "section-2", "section-3", "section-n"]

!!!5
%html
    %head{class:"no-js",lang:@lang}
        /Metadata
        %meta{charset:"utf-8"}
        %meta{'http-equiv':"x-ua-compatible", content:"ie-edge"}
        %title= @title
        %meta{name:"description", content:@description}
        %meta{name:"keywords", content:@keywords}
        %meta{name:"author", content:@autor}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no"}

        /styles
        %link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/"+@BootstrapV+"/css/bootstrap.min.css"}
        %link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/"+@FlexboxGridV+"/flexboxgrid.css"}
        %link{rel:"stylesheet",href:"styles.css"}
    %body
        %nav.navbar.navbar-toggleable.navbar-light.bg-faded
            %button.navbar-toggler.navbar-toggler-right{type:"button", 'data-toggle':"collapse", 'data-target':"#MyNavbar", 'aria-controls':"MyNavBar", 'aria-expanded':"true"}
                %span.navbar-toggler-icon
            %a.navbar-brand{href:"#"}= @title
            .collapse.navbar-collapse#MyNavbar
                .navbar-nav
                    -menu.each do |item|
                        %a.nav-item.nav-link{href:'#'+"#{item}"}= item

        /Secciones
        -menu.each do |item|
            .row.center-xs.full{id:"#{item}"}
                .box
                    %p= item

        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/"+@jQueryV+"/jquery.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/tether/"+@TetherV+"/js/tether.min.js"}
        /%script{src:"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/"+@BootstrapV+"/js/bootstrap.min.js"}
        %script{src:"main.js"}
