-@autor="My_name" # Replace
-@lang= "en"
-@title= "Hello World!"
-@description= "My awesome website!"
-@keywords="keyword1, keyword2, keywordn"


-@BootstrapV= "4.0.0-alpha.6"
-@TetherV="1.4.0"
-@NormalizeV="5.0.0"
-@FlexboxGridV="6.3.1"
-@jQueryV="3.1.1"

-menu =["section-1", "section-2", "section-3", "section-n"]

!!!5
%html
    %head{class:"no-js",lang:@lang}
        /Metadata
        %meta{charset:"utf-8"}
        %meta{'http-equiv':"x-ua-compatible", content:"ie-edge"}
        %title= @title
        %meta{name:"description", content:@description}
        %meta{name:"keywords", content:@keywords}
        %meta{name:"author", content:@autor}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no"}

        /Styles
        %link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/"+@BootstrapV+"/css/bootstrap.min.css"}
        /%link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/"+@FlexboxGridV+"/flexboxgrid.css"}
        %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/"+@NormalizeV+"/normalize.min.css"}
        %link{rel:"stylesheet",href:"./css/styles.css"}
    %body
        /NavBar
        %nav.navbar.navbar-toggleable.navbar-inverse.fixed-top 
            %a.navbar-brand{href:"#"}= @title
            %button.navbar-toggler.navbar-toggler-right{type:"button",'data-toggle':"collapse", 'data-target':"#MyNavbar", 'aria-controls':"MyNavBar", 'aria-expanded':"true"}
                %span.navbar-toggler-icon
            .collapse.navbar-collapse#MyNavbar
                .navbar-nav
                    -menu.each do |item|
                        %a.nav-item.nav-link{href:'#'+"#{item}"}= item
        %header.jumbotron.jumbotron-fluid.text-center
            %h1.display-2= @title 
            %p.lead= @description

        /Sections
        -# Replace with your own sections
        -menu.each do |item|
            %section.text-center.full{id:"#{item}"}
                .box
                    %h1.display-4= item
        

        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/"+@jQueryV+"/jquery.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/tether/"+@TetherV+"/js/tether.min.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/"+@BootstrapV+"/js/bootstrap.min.js"}
        %script{src:"js/analytics.js"}
        %script{async:"true", src:"'https://www.google-analytics.com/analytics.js"}
        %script{src:"./js/main.js"}
